<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635921452897-v09f4ogae748s76ufi2eio1mp18q672b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635921452897-v09f4ogae748s76ufi2eio1mp18q672b</string>
	<key>API_KEY</key>
	<string>AIzaSyDslgyR930qiBc5aCj0AsY_WLqb5r3mcr8</string>
	<key>GCM_SENDER_ID</key>
	<string>635921452897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snifferPettrackingApp</string>
	<key>PROJECT_ID</key>
	<string>snifferpettracker</string>
	<key>STORAGE_BUCKET</key>
	<string>snifferpettracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635921452897:ios:0c1400114254030854ff20</string>
</dict>
</plist>